{
  "presets": [
    "react-app",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        },
        useBuiltIns: "usage"
      }
    ],
    "stage-0"
  ],
  "plugins": ["emotion"]
}
