language: node_js
sudo: required

# install azure-cli 2.0, which is the preferred version. Switch to use this
# after azure accounts are handled.
before_install:
  - echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ wheezy main" | sudo tee /etc/apt/sources.list.d/azure-cli.list
  - sudo apt-key adv --keyserver packages.microsoft.com --recv-keys 52E16F86FEE04B979B07E28DB02C46DF417A0893
  - sudo apt-get install apt-transport-https
  - sudo apt-get update && sudo apt-get install azure-cli libudev-dev --allow-unauthenticated
#  - yarn global add azure-cli@0.10.x

before_script: yarn netlify-sass

script:
  - yarn test
  - yarn build

deploy:
  provider: script
  script: scripts/travis-deploy.sh
  skip_cleanup: true
  on:
    branch: master
    tags: true
