/*

  Cabana GitHub DBC List
  ~~~~~~~~~~~~~~~~~~~~~~

*/

@import "../../styles/_global/all";

.cabana-dbc-list {
  &-header {
    a {
      color: $color-grey-80;
      font-weight: 600;
      text-decoration: none;
      i {
        padding-right: 5px;
      }
    }
    .form-field {
      margin: 11px 0;
    }
  }
  &-files {
    background: rgba(0, 0, 0, 0.02);
    border: $color-grey-50;
    border-radius: 5px;
  }
  &-file {
    cursor: pointer;
    font-size: 14px;
    padding: 6px;
    padding-left: 30px;
    position: relative;
    transition-duration: 0.1s;
    &:not(:last-child) {
      border-bottom: 1px solid $color-grey-30;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.025);
    }
    &:before {
      content: "";
      border: 1px solid $color-grey-40;
      border-radius: 12px;
      display: block;
      height: 12px;
      left: 8px;
      top: 7px;
      position: absolute;
      transition-duration: 0.2s;
      width: 12px;
    }
    &:after {
      background: transparent;
      border-radius: 8px;
      content: "";
      display: block;
      height: 8px;
      left: 11px;
      top: 10px;
      position: absolute;
      transition-duration: 0.2s;
      width: 8px;
    }
    &.is-selected {
      background: rgba(0, 0, 0, 0.04);
      font-weight: 600;
      &:before {
        border-color: $color-blue-50;
      }
      &:after {
        background-color: $color-blue-50;
      }
    }
  }
}
