/*

  Explorer Component Styles
  ~~~~~~~~~~~~~~~~~~~~~~~~~

*/

@import '../../styles/_global/all';

#cabana {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.cabana-header {
  background: $color-grey-90;
  color: #fff;
  height: 68px;
  padding: 22px;
  &-logo {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    pointer-events: none; // disable actual click
  }
  &-account {
    float: right;
    a {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.cabana-window {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.cabana-explorer {
  display: flex;
  flex: 1;
  &-header {
  }
  &-signals {
    flex: 1;
    max-height: 100vh;
    &-wrapper {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
    &-header {
      border-bottom: 1px solid rgba(0,0,0,.2);
      display: flex;
      flex-direction: row;
      min-height: 89px;
      padding: 5%;
      h6,
      h3 {
        margin: 0;
      }
      h6 {
        font-size: 13px;
        font-weight: normal;
        padding-bottom: 5px;
        text-transform: uppercase;
      }
      &-context {
        flex: 4;
      }
      &-action {
        flex: 1;
        button {
          width: 100%;
        }
      }
    }
    &-window {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 100%;
    }
    &-controller {
      padding: 5%;
    }
    &-matrix {
      table {
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        font-family: monospace;
        margin: 2% 0;
        width: 100%;
      }
    }
    &-log {
      border-top: 1px solid $color-grey-30;
      padding: 0 5%;
      &-header {
        padding: 5% 0;
        strong {
          color: $color-grey-70;
          font-size: 14px;
        }
        button {
          float: right;
          text-transform: uppercase;
        }
      }
      &-body {
        background: $color-grey-10;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
      }
      &-list {
        padding: 3%;
      }
    }
  }
  &-visuals {
    background: $color-grey-10;
    flex: 1;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1.5% 3%;
    &-header {
      border-bottom: 1px solid rgba(0,0,0,.1);
      margin-bottom: 2%;
      padding: 2% 0;
    }
    &-camera {
      border: 5px solid #000;
      border-radius: 5px;
      max-height: 480px;
      max-width: 640px;
      overflow: hidden;
      position: relative;
      &-wrapper {}
      &-seeker {
        background: rgba(233, 233, 233, .2);
        bottom: 0;
        position: absolute;
        width: 100%;
        z-index: 4;
      }
      video {
        cursor: pointer;
        width: 100%;
      }
    }
    &-plots {
      border: 1px solid $color-grey-40;
      border-radius: 5px;
      margin: 3% 0;
      position: relative;
      height: 100%;
    }
    &-plot {
      &-inner {
        &-droppable {
          background: $color-grey-50;
        }
        background: #fff;
        border-radius: 5px;
        padding: 1.5% 3%;
        &:first-child,
        &:last-child {
          padding-top: 3%;
          padding-bottom: 3%;
        }
        &-message {
          color: $color-grey-50;
          font-size: 12px;
        }
        &-signal {
          strong {
            padding-right: 5px;
          }
          a {
            color: $color-grey-50;
            cursor: pointer;
          }
        }
        &-canvas {
          svg {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}
