/*

  Cabana Tabs
  ~~~~~~~~~~~

*/

@import "../../styles/_global/all";

.cabana-tabs-navigation {
  border-top: 1px solid $color-grey-20;
  border-bottom: 1px solid $color-grey-50;
  padding: 0 3%;
  a {
    border-bottom: 3px solid transparent;
    color: $color-grey-60;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding: 11px 16px;
    transition-duration: 0.1s;
    &:hover {
      color: $color-grey-70;
    }
    &.is-active {
      border-color: $color-grey-80;
      color: $color-grey-90;
    }
  }
}
