// Cabana Color Variables
$color-grey-10: #00bfff;
$color-grey-20: #ff00bf;
$color-grey-30: #00ff40;
$color-grey-40: #d4d4d4;
$color-grey-50: #a2a2a2;
$color-grey-60: #979797;
$color-grey-70: #6f6f6f;
$color-grey-80: #484848;
$color-grey-90: #2d2d2d;

$color-blue-50: #258fda;
