/*

  Comma Cabana Styles
  ~~~~~~~~~~~~~~~~~~~

*/
html, body {
  min-width: 1340px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif; }

p {
  margin: 0;
  padding: 0; }

#root {
  width: 100%;
  height: 100%; }

* {
  box-sizing: border-box; }

.g-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 540px) {
    .g-container {
      width: 80%; } }
  @media only screen and (min-width: 960px) {
    .g-container {
      width: 75%; } }

.g-row {
  position: relative;
  width: 100%; }

.g-row::after {
  content: "";
  display: table;
  clear: both; }

[class*="g-col"] {
  float: left;
  min-height: 0.125rem; }

.g-col-1,
.g-col-2,
.g-col-3,
.g-col-4,
.g-col-5,
.g-col-6,
.g-col-7,
.g-col-8,
.g-col-9,
.g-col-10,
.g-col-11,
.g-col-12 {
  width: 100%; }

@media only screen and (min-width: 720px) {
  .g-col-1 {
    width: 8.3333333333%; }

  .g-col-2 {
    width: 16.6666666667%; }

  .g-col-3 {
    width: 25%; }

  .g-col-4 {
    width: 33.3333333333%; }

  .g-col-5 {
    width: 41.6666666667%; }

  .g-col-6 {
    width: 50%; }

  .g-col-7 {
    width: 58.3333333333%; }

  .g-col-8 {
    width: 66.6666666667%; }

  .g-col-9 {
    width: 75%; }

  .g-col-10 {
    width: 83.3333333333%; }

  .g-col-11 {
    width: 91.6666666667%; }

  .g-col-12 {
    width: 100%; }

  .hidden-sm {
    display: block; } }
/*

  VG Tooltip Library
  ~~~~~~~~~~~~~~~~~~

*/
.vg-tooltip {
  visibility: hidden;
  padding: 6px;
  border-radius: 3px;
  position: fixed;
  z-index: 2000;
  font-family: sans-serif;
  font-size: 1em;
  /* The default look of the tooltip is the same as .light-theme
  but it can be overwritten by .dark-theme */
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #d9d9d9;
  color: black; }

.vg-tooltip td.key, .vg-tooltip td.value {
  overflow: hidden;
  text-overflow: ellipsis; }

.vg-tooltip td.key {
  max-width: 150px;
  text-align: right;
  padding-right: 1px;
  font-weight: bold; }

.vg-tooltip td.value {
  max-width: 200px;
  text-align: left; }

/* Dark and light color themes */
.vg-tooltip.dark-theme {
  background-color: rgba(64, 64, 64, 0.9);
  color: rgba(255, 255, 255, 0.95); }

/*

  Meta Component Styles
  ~~~~~~~~~~~~~~~~~~~~~

*/
.cabana-meta {
  background: #e5e5e5;
  flex: .5;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll; }
  .cabana-meta table {
    width: 100%; }

/*

  Explorer Component Styles
  ~~~~~~~~~~~~~~~~~~~~~~~~~

*/
.cabana {
  display: flex; }

.cabana-explorer {
  display: flex;
  flex: 1; }
  .cabana-explorer-signals {
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 3%; }
    .cabana-explorer-signals-matrix table {
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      font-family: monospace;
      margin: 2% 0;
      width: 100%; }
    .cabana-explorer-signals-log {
      background: #fafafa;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 3%; }
  .cabana-explorer-visuals {
    flex: 1;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1.5%;
    padding-left: 0; }
    .cabana-explorer-visuals-camera {
      border: 5px solid #000;
      border-radius: 5px;
      max-height: 480px;
      max-width: 640px;
      overflow: hidden;
      position: relative; }
      .cabana-explorer-visuals-camera-seeker {
        background: rgba(233, 233, 233, 0.2);
        bottom: 0;
        position: absolute;
        width: 100%;
        z-index: 4; }
      .cabana-explorer-visuals-camera video {
        cursor: pointer;
        width: 100%; }
    .cabana-explorer-visuals-plots {
      border: 1px solid #d3d3d3;
      border-radius: 5px;
      margin: 3% 0; }
    .cabana-explorer-visuals-plot {
      padding: 1.5% 3%; }
      .cabana-explorer-visuals-plot:first-child, .cabana-explorer-visuals-plot:last-child {
        padding-top: 3%;
        padding-bottom: 3%; }
      .cabana-explorer-visuals-plot-message {
        color: #a2a2a2;
        font-size: 12px; }
      .cabana-explorer-visuals-plot-signal strong {
        padding-right: 5px; }
      .cabana-explorer-visuals-plot-signal a {
        color: #a2a2a2;
        cursor: pointer; }
      .cabana-explorer-visuals-plot-canvas svg {
        height: auto;
        width: 100%; }

/*

  Signal Legend Component
  ~~~~~~~~~~~~~~~~~~~~~~~

*/
.cabana-explorer-signals-legend {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 5% 0;
  padding: 2%; }

.signals-legend-entry {
  overflow: auto; }
  .signals-legend-entry:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); }
  .signals-legend-entry-header {
    cursor: pointer;
    line-height: 42px; }
    .signals-legend-entry-header-name {
      float: left;
      width: 70%; }
    .signals-legend-entry-header-plotted {
      float: left;
      text-align: right;
      width: 30%; }
  .signals-legend-entry-body {
    padding: 2%; }

/*

  ExplorerSignalLog Component Styles
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Also known as CanLog

*/

/*# sourceMappingURL=index.css.map */
