// Base Style Resets
// ~~~~~~~~~~~~~~~~~

@import "../_global/all";

html,
body {
  min-width: 1340px;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

hr {
  background: $color-grey-30;
  height: 1px;
  border: none;
  margin: 22px 0;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

img {
  max-width: 100%;
}
