// Insets
// ~~~~~~

@import "../_global/all";

.inset {
  background: $color-grey-20;
  border: 1px solid $color-grey-30;
  border-radius: 3px;
  color: $color-grey-70;
  padding: 12px;
  width: 100%;
}
